@font-face {
    font-family: 'Dela Gothic One';
    src: url('../../fonts/DelaGothicOne-Regular.ttf') format('truetype');

    font-family: 'NotoSansTC';
    src: url('../../fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
}


$font-dela: 'Dela Gothic One';
$font-noto: 'NotoSansTC';


