

 header{
    display: flex;
    width: 100%;
    background-color: black;
    height: 72px;
    position: absolute;
    padding: 0px 40px;
    justify-content:space-between;
    z-index:99;

 }


 // ICON 

.icon{

   @include flex-center;
   gap: 15px;
}

.icon_text{
    @include font($font-dela, 24px, white);

 }


//nav 

nav{
   @include flex-center;
}
.menu{
   @include font($font-noto, 16px, white);
   padding: 0;
   gap: 32px;
   display: flex;

}

// nav 與 右方 ICON 間隔線
.line{
   width: 1px;
   height: 21px;
   background: white;
   margin: 0 36px;
}

.shopping_cart{
   margin-right: 36px;
}


// hamburger

.hamburger_box{
   @include flex-center;
   display: none;
   position: relative;
}

// 隱藏 inputbox (用於點選切換用)
.hamburger_check{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   cursor: pointer;
   width: 100%;
   height: 100%;
   opacity: 0;
}

 
// 當 checkbox 被點選時改變樣式

// 讓 hamburger 切換回復時也有動畫
 .hamburger > div {
   transition: all 0.4s ease;
 }
 
 // checkbox 被點選時中間線的變化
 .hamburger_check:checked + .hamburger > div {
   transform: rotate(135deg);
   transition: all 0.4s ease;
 }
  // checkbox 被點選時上線的變化
 .hamburger_check:checked + .hamburger > div:before {
   top: 0;
   transform: rotate(90deg);
   transition: all 0.4s ease;
 }
  // checkbox 被點選時下線的變化
 .hamburger_check:checked + .hamburger > div:after {
   top: 0;
   transform: rotate(90deg);
   transition: all 0.4s ease;
 }


.hamburger{
   width: 30px;
   height: 16px;
   @include flex-center;
   justify-content: center;
}





// hamburger 中間線
.hamburger > div{

   height: 3px;
   background-color: white;
   @include flex-center;
   justify-content: center;
   width: 100%;
   border-radius: 10px;
   position: relative

}

// hamburger 上下線
.hamburger > div:before, .hamburger > div:after {
   content: '';
   position: absolute;
   z-index: 1;
   top: -10px;
   left: 0;
   width: 100%;
   height: 3px;
   background: white;
   transition: all 0.4s ease;
}

// hamburger 下線 往下10px
.hamburger > div:after {
   top: 10px
}

